.socials {
  margin-right: 74px;
  margin-bottom: 12px;
}

.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link{
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__link--tg .socials__link {
  background-image: url(./img/tg.png);
}

.socials__link--tg .socials__link:hover {
  background-image: url(./img/tg-hover.png);
}

.socials__link--vk .socials__link {
  background-image: url(./img/vk.png);
}

.socials__link--vk .socials__link:hover {
  background-image: url(./img/vk-hover.png);
}

.socials__link--fb .socials__link {
  background-image: url(./img/fb.png);
}

.socials__link--fb .socials__link:hover {
  background-image: url(./img/fb-hover.png);
}

.socials__link--ig .socials__link {
  background-image: url(./img/ig.png);
}

.socials__link--ig .socials__link:hover {
  background-image: url(./img/ig-hover.png);
}